<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Portfolio</title>
  </head>
  <body>
    <header>
        <h1>Hi, I'm Dan Brown</h1>
        <h2>Welcome to my Portfolio</h2>
    </header>
    <main>

      <section class="box">
        <a href="pro">Projects</a>
        <article class="content">

        </article>
      </section>
      <section class="box">
        <a href="about">About</a>
        <article class="content">

        </article>
      </section>
      <section class="box">
        <a href="test">Testimonials</a>
        <article class="content">

        </article>
      </section>

    </main>

  </body>
</html>
